/Guia8_MascotAPP/nbproject/private/
/Guia8_MascotAPP/build/
/Guia8_Ejercicio1/build/
/Guia8_Ejercicio2/nbproject/private/
/Guia8_Ejercicio2/build/
/Guia8_Ejercicio3/nbproject/private/
/Guia8_Ejercicio3/build/
/Guia8_Extras_Ej1/nbproject/private/
/Guia8_Extras_Ej1/build/
/Guia8_Extras_Ej2/nbproject/private/
/Guia8_Extras_Ej2/build/